
<footer id="footer" class="clearfix">
	<% if (theme.search.enable === true) { %>
	<div class="search noprint">
	  <form name="searchform" id="searchform" class="u-search-form">
	    <input type="text" id="searchinput" 
				class="u-search-input st-default-search-input"
				data-list-highlight="true" 
				data-list-value-completion="true" 
				placeholder="Looking for something?" />
	    <button type="submit" id="u-search-btn-submit" class="u-search-btn-submit">
	      <span class="icon icon-search"></span>
	    </button>
	  </form>
	</div>
	<% } %>
  <div class="noprint">&copy; <a href="<%= config.url %>"><%= config.title %></a></div>
  <div class="noprint">Theme adapted from <a href="https://github.com/artchen/" target="_blank">Art Chen</a></div>
  <div class="noprint">Powered by <a href="https://hexo.io/" rel="external">Hexo</a></div>
</footer>

